@include component(frame) {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: -1;


    @include part(img) {
        z-index: -1;
        width: var(--planet-img-width);

        @include tablet{
            width: calc(var(--planet-img-width) * 1.65);
        }

        @include desktop{
            width: calc(var(--planet-img-width) * 2.61);
        }
    }

    @include part(surface) {
        display: none;
        position: absolute;
        bottom: 3em;
        z-index: -1;
        width: 62px;

        @include tablet{
            bottom: 3em;
            width: 103px;
        }

        @include desktop{
            bottom: 8em;
            width: 163px;
        }

        @include option(enabled) {
            display: unset;
        }
    }
}