@include component(header) {


    @include part(content) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block-start: 1em;
        padding-block-end: 1em;
        padding-inline-start: 1.5em;
        padding-inline-end: 1.5em;

        @include tablet {
            justify-content: center;
            padding-block-start: 2em;
            padding-block-end: 0;
        }

        @include desktop{
            justify-content: space-between;
            align-items: stretch;
            padding-block-start: 0;
            padding-block-end: 0;
            padding-inline-start: 2em;
            padding-inline-end: 0;

            border-block-end: 1px var(--primary-color-02) solid;
        }

        @include part(title) {
            font-family: var(--primary-font-family);
            font-weight: 400;
            font-size: 1.75rem;

            line-height: 36px;
            letter-spacing: -1.05px;
            text-transform: uppercase;

            @include desktop{
                align-self: center;
            }

            @include part(link) {
                color: var(--primary-color);

                text-decoration: none;
            }
        }

        @include part(menu-btn) {
            background-color: transparent;
            border: none;
            opacity: var(--menu-icon-opacity);

            @include tablet {
                display: none;
            }
        }

        @include component(nav){
            display: none;

            @include desktop{
                display: flex;
            }
        }
    }


}