//  there are the styles for the header, footer, the grid system, etc

@mixin padding($direction: both, $value: var(--layout-padding-mobile)) {
    @if $direction ==start {
        padding-inline-start: $value;
        padding-inline-end: 0;
    }

    @else if $direction ==end {
        padding-inline-start: 0;
        padding-inline-end: $value;
    }

    @else {
        padding-inline-start: $value;
        padding-inline-end: $value;
    }
}

@include component(layout) {
    position: relative;

    @include tablet {
        display: grid;
        grid-template-rows: repeat(3, fit-content(20px));
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "nav nav"
            "frame frame"
            "about tabs"
            "characteristics characteristics";
    }

    @include desktop {
        grid-template-rows: 30.6875em 16.4375em auto;
        grid-template-columns: 5.388fr 3fr;

        grid-template-areas:
            "frame about"
            "frame tabs"
            "characteristics characteristics";
    }

    @include component(tabs) {
        @include padding;
        width: 100%;

        grid-area: tabs;

        @include tablet {
            @include padding(both, var(--layout-padding-tablet))
        }

        @include desktop {
            @include padding(start, 0);
            margin-block-start: 0.8em;

            margin-inline-start: auto;
            margin-inline-end: 10em;

            width: 22em;
        }
    }

    @include component(nav) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        grid-area: nav;

        @include tablet {
            position: static;
        }

        @include desktop {
            display: none;
        }
    }

    @include component(frame) {
        height: 19em;

        grid-area: frame;

        @include tablet {
            height: 28.75em;
        }

        @include desktop {
            padding-inline-start: 3em;
            height: 50em;


        }
    }

    @include component(about) {
        @include padding;

        grid-area: about;

        @include tablet {
            @include padding(start, var(--layout-padding-tablet));
        }

        @include desktop {
            @include padding(start, 0);
            width: 21.875em;
            
            margin-block-start: 8.5em;
            margin-inline-start: auto;
            margin-inline-end: 10em;
        }
    }

    @include component(characteristics) {
        @include padding;
        width: 100%;
        margin-block-start: 1.75em;
        margin-block-end: 2.9375em;

        grid-area: characteristics;

        @include tablet {
            @include padding(both, var(--layout-padding-tablet))
        }

        @include desktop {
            @include padding(both, var(--layout-padding-desktop));
            margin-block-start:0;
        }
    }
}